/*  your css code here. If applicable */
main {
	background-color: #cccccc; 
}

.player-one, .player-two {
	padding: 5px;
	background-color: white;
	border: 1px solid black;
}

h1, .player-two{
	text-align: center;
}
.player-one a {
	text-decoration: none;
}